/build/*
*.pdb

unity_project/build/*
unity_project/Library/*
unity_project/Temp/*
unity_project/UWP/*
unity_project/Logs/*
unity_project/obj/*
unity_project/UserSettings/*
unity_project/*.vs
unity_project/.vsconfig
unity_project/*.csproj
unity_project/*.sln
